*{margin: 0;padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.bg-blue{
  background: #1e90ff;
}
.headerWrapper .top-strip{padding: 8px 0px;}
.headerWrapper .top-strip p{color:white; font-weight: bold; font-size: 12px;}

.headerWrapper .header{width: 100%; height: auto;padding: 10px 0px;}
.logoWrapper img{width: 100%; height: auto; padding: 10px 0px;}

.headerWrapper .header .part2 .countryDrop{text-align: left;justify-content:flex-start ;}
.headerWrapper .header .part2 .countryDrop{width: 150px; height:60px; min-width: 150px;color:black ; border: 1px solid rgba(0,0,0,0.2) !important; border-radius: 7px !important;}
.headerWrapper .header .part2 .countryDrop .label{font-size: 12px !important; text-transform: capitalize !important;color: black !important; line-height: 16px;}
.headerWrapper .header .part2 .countryDrop .name{font-size: 16px !important; text-transform: capitalize !important;color: rgb(14, 156, 233) !important; font-weight: 700; line-height: 16px;}
.headerWrapper .header .part2 .countryDrop .span.ml-auto svg{opacity: 0.5;}

header .headerSearch{width:60%; height:60px; background: #f3f4f7; padding: 10px 0px; position: relative;}
header .headerSearch input{ background:transparent !important; outline: none !important; font-size: 14px;color: rgb(0, 0, 0);width: 100%; height: 45px; border: 0px !important;padding: 0px 20px !important; }
header .headerSearch button{position: absolute; top: 10px;right: 10px; z-index: 100;min-width:40px !important; height: 40px !important; width: 40px !important;border-radius: 50% !important; color: black; border: 0px;}
header .headerSearch button svg{font-size: 20px !important;}

